html {
    --color-text: #efefef;
    --color-background: #343434;
    --color-primary: #d25e34;
    --color-secondary: #6D6F88;
}

body {
    background-color: var(--color-background);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

name {
    font-size: 6rem;
    text-align: center;
    color: var(--color-text);
    display: block;
    margin: 2rem;
}

a {
    display: block;
    text-decoration: none;
    font-size: 3rem;
    text-align: center;
    color: var(--color-text);
    margin: 2rem;
    max-width: 300px;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--color-primary);
}
